/* police Poppins : 'Poppins', sans empattement ;
   police Ethnocentric : 'Ethnocentric Rg', sans-serif;
*/

* {
   margin: 0px ;
   padding: 0px ;
   box-sizing: border-box ;
}

:root {
   --white: #f1f1f1;
   --primary1: #18d3ff;
   --primary2: #0dc3ff;
   --black:#050505;
   --colorPrimary:#e1603a;
}

body {
   font-family: 'Poppins', sans empattement ;
}

      /* Synchronisation de tous les bouttons  */
body .btns {
   position: relative;
   border-radius: 1000px;
   overflow: hidden;
   cursor: pointer;
   z-index: 10 ;
}
      /* Synchronisation de tous les spans de numérotation  */
body .numero-de-separation {
   color: var(--white);
   background-color: var(--colorPrimary) ;
   width: 3rem;
   height: 3rem;
   border-radius: 1000px;
   display: flex ;
   justify-content: center ;
   align-items: center;
   font-weight: bold;
   position: absolute;
   z-index: 5;
}

body .map iframe{
   width: 100px;
}

         /* Section-1 */

.section-1 {
   background-image: url(./images/hero.png);
   background-repeat: no-repeat ;
   background-size: cover ;
   width: 100%;
   position: relative;
}
      /* Partie Header */

header {
   display: flex ;
   align-items: center ;
   justify-content: space-between;
   padding: 8px 4%;
}

header nav {
   /* On fait disparaitre la navbar sur la version mobile */
   display: none;
}
header .droite-header span:not(#menu){
   display: none;
}
header #menu i{
   font-size: 1.1rem;
   color: var(--black);
}

      /* .Container */

.container {
   display: flex ;
   flex-flow: row wrap ;
   justify-content: center;
   padding: 48px 4% 32px;
}
.container .ligne-extreme-gauche {
   display: none ;
}
.container h2 {
   font-weight: 300 ;
   font-size: 1.6rem;
}
.container h1 {
   font-size: 1.8rem;
   margin-bottom: 24px;
   color: var(--colorPrimary);
}
.container p {
   text-align: center ;
   line-height: 1.6rem;
}
.container .bas {
   padding: 32px 0px 0px 0px;
}
.container .btn-1 {
   color: var(--white) ;
   min-width: 13rem;
   padding: 8px 10px ;
   letter-spacing: 1px;
   border: none ;
   transition: color 0.3s ease-in-out;
}
.container .btn-1::after {
   content: "";
   position: absolute ;
   top: 0px ;
   left: 0px ;
   width: 100% ;
   height: 100%;
   background-color: var(--black);
   z-index: -1 ;
   transition: transform 0.2s ease-in-out;
} 

.container .btn-1:hover {
   color: var(--black) ;
} 
.container .btn-1:hover::after {
   transform: translateY(-100%);
} 
.container .spans{
   text-align: center ;
   padding: 32px 0px 0px 0px;
   display: flex ;
   justify-content: center ;
   align-items: center;
}
.container .spans span:not(.num-1) i{
   color: var(--white);
}
.container .spans span{
   color: var(--white);
   background-color: var(--colorPrimary) ;
   width: 2rem;
   height: 2rem;
   padding: 16px 8px;
   border-radius: 1000px;
   display: flex ;
   justify-content: center ;
   align-items: center;
}
.container .spans span:not(:first-child){
   margin-left: 8px;
}
.container .num-1 {
   bottom: -24px ;
   right: 0px;
}

      /* Deuxième section contenant les 2 images superposées */

.section-2 {
   padding: 72px 4% 88px;
   display: flex ;
   flex-flow: row wrap;
   position: relative;
}
.section-2 .deux-images img {
   width: 100%;
   object-fit: cover;
}
.section-2 .droite h2{
   margin: 24px 0px 16px;
   display: flex ;  
   align-items: center;
   font-size: 1.6rem;
}
.section-2 .droite h2 span img{
   height: 32px;
   width: 24px;
   margin-right: 12px;
}
.section-2 p{
   text-align: left ;
   line-height: 1.6rem;
}
.section-2 .num-2{
   bottom: -24px ;
   left: 0px;
}

      /* Troisième section */

.section-3 {
   background-image: url(./images/why-bg.jpg) ;
   background-repeat: no-repeat ;
   background-size: cover ;
   color: var(--white);
   width: 100%;
   padding: 64px 4%;
   display: flex ;
   flex-flow: row wrap;
   position: relative;
}
.section-3 h2 {
   font-size: 1.6rem ;
   margin-bottom: 24px;
}
.section-3 .btn-2 {
   background-color: var(--colorPrimary) ;
   color: var(--colorPrimary);
   height: 2.2rem;
   min-width: 10rem ;
   margin: auto;
   margin-top: 24px;
   letter-spacing: 1px;
   border: none ;
   transition: color 0.1s ease-in-out;
}
.section-3 .btn-2::after {
   content: "";
   position: absolute ;
   top: 0px ;
   left: 0px ;
   width: 100% ;
   height: 100%;
   background-color: var(--white);
   z-index: -1 ;
   transition: transform 0.2s ease-in-out;
} 

.section-3 .btn-2:hover {
   color: var(--white) ;
} 
.section-3 .btn-2:hover::after {
   transform: translateY(-100%);
} 
.section-3 .num-3 {
   bottom: -24px ;
   right: 0px;
}

      /* Quatrième section (Gallerie d'images) */

.section-4 {
   background: var(--white);
   padding: 56px 4% 80px;
   position: relative;
}
.section-4 h2 span img{
   height: 32px;
   width: 24px;
   margin-right: 12px;
}
.section-4 h2{
   margin: 0px 0px 24px 0px;
   display: flex ;
   justify-content: center;  
   align-items: center;
   font-size: 1.6rem;
}
.section-4 .gallerie{
   display: flex ;
   flex-flow: row wrap ;
}
.section-4 .gallerie img{
   width: 100% ;
   object-fit: cover;
   transition: transform 0.3s ease-in-out;
}
.section-4 .gallerie img:hover{
   transform: scale(1.01);
}
.section-4 .num-4 {
   bottom: -24px ;
   left: 0px;
}